.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sky {
    background: #246e89 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_sky.jpg") repeat-x 100% 100% / auto 100%;
    top: 0;
    background-color: brown;
    height: 40vh;
}

.earth {
    background: #eb125d url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_earth.jpg") repeat-x 0 0 / 100% auto;
    bottom: 0;
    height: 60vh;
}

.scenery {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#background1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 25%;
    top: 40%;
    transform: translateX(-100%);
}

#w_rook {
    width: 200px;
    height: 100px;
}

#background2 {
    top: 0%;
    transform: translateX(-50%);
}

#foreground1 {
    transform: translateX(0%);
    top: 4%;
    z-index: 1;
}

#foreground2 {
    transform: translateX(100%);
    top: 40%;
    z-index: 1;
}

#red-queen_and_alice img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}

#red-queen_and_alice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80%;
    max-width: 450px;
    height: 398px;
    /* z-index: 1; */
}

#red-queen_and_alice:before {
    content: " ";
    display: block;
    padding-top: 80%;
}